
@{
    Layout = null;
}

<h4>Persons</h4>

<table id="personTable" class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Father Name</th>
        <th>Gender</th>
        <th>CNIC</th>
        <th>DOB</th>
        <th>Designation</th>
    </tr>
    </thead>
</table>
