
@{
    Layout = null;
}

<h2>Vouchers</h2>

<table id="vouchersTable" class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>AccName</th>
            <th>VDescription</th>
            <th>AccString</th>
            <th>InvNo</th>
            <th>VType</th>
            <th>ChequeNo</th>
            <th>InvType</th>
            <th>VNo</th>
        </tr>
    </thead>
</table>
