
@{
    ViewBag.Title = "Purchases";
    if (Session["userName"] == null)
    {
        Response.Redirect("~/User/Login");
    }
}

<h4>Purchases</h4>


<a class="btn btn-sm btn-success" style="margin-bottom: 10px;" onclick="popUpForm('@Url.Action("AddOrEdit", "Purchase")')"><i class="fa fa-plus"></i> Add New</a>

<table id="purchaseTable" class="table table-hover">
    <thead>
    <tr>
        <th>Portal</th>
        <th>Inventory Type</th>
        <th>Product Category</th>
        <th>Item</th>
        <th>Sub Name</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Total</th>
        <th>Percentage</th>
        <th>Date Purchased</th>
        <th></th>
    </tr>
    </thead>
</table>


<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section scripts
{

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    
    
    <script>
        
        var popUp, dataTable;
        $(document).ready(function() {
            
            dataTable = $("#purchaseTable").DataTable({
                "ajax": {
                    "url": "/Purchase/GetData",
                    "type": "Get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "PortalName", "name": "PortalName" },
                    { "data": "InventoryType", "name": "InventoryType" },
                    { "data": "CategoryName", "name": "CategoryName" },
                    { "data": "ItemName", "name": "ItemName" },
                    { "data": "Subname", "name": "Subname" },
                    { "data": "Qty", "name": "Qty" },
                    { "data": "Rate", "name": "Rate" },
                    { "data": "Total", "name": "Total" },
                    { "data": "Percentage", "name": "Percentage" },
                    { "data": "DatePurchasedFormatted", "name": "DatePurchased" },
                    {
                        "data": "PurchaseId", "render": function (data) {
                            return "<a class='btn btn-info btn-sm' onClick=popUpForm('@Url.Action("AddOrEdit", "Purchase")/" +
                                data +
                                "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px;' onClick=Delete(" +
                                data +
                                ")><i class='fa fa-trash'></i> Delete</a>";
                        }, "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                "language": {
                    "emptyTable": "No data found, Please Click on <b>Add New</b> button",
                    "processing": "Processing... Please wait"
                }
            });
        });

        function popUpForm(url) {
            //console.log(url);
            var formDiv = $('<div />');
            $.get(url).done(function (response) {
                formDiv.html(response);

                popUp = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Purchase Details',
                    draggable: false,
                    width: 1000,
                    height: 370,
                    modal: true,
                    close: function () {
                        //popUp.dialog('destroy').close();
                        popUp.dialog('close');
                    }
                });
                //$(".date-control").datepicker({
                //    dateFormat: "dd-mm-yy",
                //    changeMonth: true,
                //    changeYear: true
                //});
                $('#dvRate').hide();
                $('#dvPercentage').hide();
                $('#Total').attr("disabled", "true");
            });
        }

        function valueChanged() {
            var Qty = $('#Qty').val();
            var Rate = $('#Rate').val();
            var Percentage = $('#Percentage').val();
            if ($($('#InventoryTypeId').find('option:selected')).text() === 'Tangible') {
                if (Qty != null && Qty != 0 && Rate != null && Rate != 0) {
                    var total = Qty * Rate;
                    $('#Total').val(total);
                    $('#Total').attr("value", total);
                    $('#Total').innerHTML = total;

                    console.log($('#Total'));
                } else {
                    $('#Total').val(0);
                    $('#Total').innerText = '0';
                }
            } else if ($($('#InventoryTypeId').find('option:selected')).text() === 'Intangible') {
                if (Qty != null && Qty != 0 && Percentage != null && Percentage != 0) {
                    var total = Qty - ((Qty * Percentage) / 100);
                    $('#Total').val(total);
                    $('#Total').innerText = total;
                } else {
                    $('#Total').val(0);
                    $('#Total').innerText = '0';
                }
            } else {
                $('#Total').val(0);
                $('#Total').innerText = '0';
            }
        }

        function SubmitForm(form) {
            event.preventDefault();
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                //console.log($(form).serialize());
                var formData = $(form).serialize() + '&Total=' + $('#Total').val();
                //formData.Total = $('#Total').val();
                //console.log(formData);
                //console.log($('#Total').val());

                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    success: function (data) {
                        if (data.success) {
                            popUp.dialog('close');

                            dataTable.ajax.reload();

                            $.notify(
                                data.message,
                                {
                                    position: "top center",
                                    className: "success"
                                }
                            );
                        }
                    }
                });
            } else {
                $.notify(
                    "Validation Error",
                    {
                        position: "top center",
                        className: "error"
                    }
                );
            }

            return false;
        }

        function inventoryChanged(cmb) {
            //console.log(cmb);
            //console.log($($(cmb).find('option:selected')).text());

            if ($($(cmb).find('option:selected')).text() === 'Tangible') {
                $('#dvRate').show();
                $('#dvPercentage').hide();
                $('#lblQty').html('Quantity');
            } else if ($($(cmb).find('option:selected')).text() === 'Intangible') {
                $('#dvRate').hide();
                $('#dvPercentage').show();
                $('#lblQty').html('Balance');
            } else {
                $('#dvRate').hide();
                $('#dvPercentage').hide();
                $('#lblQty').html('Quantity');
            }
        }


        function Delete(id) {
            if (confirm('Are you sure to delete this record')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Purchase")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $.notify(
                                data.message,
                                {
                                    position: "top center",
                                    className: "success"
                                }
                            );
                        }
                    }
                });
            }
        }


    </script>
}