
@{
    Layout = null;
}
<h4>Items</h4>

<table id="purchaseTable" class="table table-hover">
    <thead>
        <tr>
            <th>Portal</th>
            <th>Inventory Type</th>
            <th>Product Category</th>
            <th>Item</th>
            <th>Sub Name</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Percentage</th>
            <th>Date Purchased</th>
        </tr>
    </thead>
</table>