
@{
    Layout = null;
}


<h4>
    Sale Return
</h4>

<table id="saleReturnTable" class="table table-hover">
    <thead>
    <tr>
        <th>PurchaseId</th>
        <th>SaleDetailId</th>
        <th>PortalId</th>
        <th>PortalName</th>
        <th>Inventory Type</th>
        <th>Category Name</th>
        <th>Item Id</th>
        <th>Item Name</th>
        <th>Date Purchased</th>
        <th>Date Sold</th>
    </tr>
    </thead>
</table>

