
@{
    ViewBag.Title = "Full Stock";
    if (Session["userName"] == null)
    {
        Response.Redirect("~/User/Login");
    }
}

<h2>Full Stock</h2>
@using (Html.BeginForm("FullStock", "Reports"))
{
    <div class="form-group">
        <button type="submit" value="Submit" class="btn btn-primary"><i class="fa fa-save"></i> Print Report</button>
        @*<button type="reset" value="Reset" class="btn btn-warning"><i class="fa fa-refresh"></i> Reset</button>*@
    </div>
}


