
@{
    Layout = null;
}

<h4>Accounts</h4>

<table id="accountsTable" class="table table-hover">
    <thead>
        <tr>
            <th>AccAccountId</th>
            <th>HeadCode</th>
            <th>SubHeadCode</th>
            <th>AccString</th>
            <th>AccName</th>
            <th>OID</th>
            <th>AccCode</th>
            @*<th>AccMade</th>*@
        </tr>
    </thead>
</table>